<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker App</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <div class="fill" style="background-color:rgba(58, 192, 232, 0.936); padding:5px; margin: 5px">
        <h2 style="text-align: center" > Expense Tracker Application </h2>
    </div>     
    </nav>
     </header>

     <main>
       <form class="form" action="#" id="myform" method="POST" onsubmit='savetoExpenseDetail(event)'>
        <div class="form-control">
        <div class="fill" style="background-color:rgba(159, 182, 225, 0.936); padding:5px; margin: 5px">  
        <label>Expenses Amount</label><br>
        <input type="text" name="expenses" id="expenses" required/><br><br>
        <label>Description</label><br>
        <input type="text" name="description" id="description" required/><br><br>
        <label>Choose Category</label><br>
        <select id="category">
          <option value="Select Category"> Select Category </option>
          <option value="Electricity Bill"> Electricity Bill </option>
          <option value="Dish Recharge Bill">Dish Recharge Bill </option>
          <option value="Internet Bill"> Internet Bill </option>
          <option value="Water Bill"> Water Bill </option>
          <option value="Food Bill"> Food Bill </option>
          <option value="Bike Service Bill"> Bike Service Bill</option>
          <option value="Shopping Bill"> Shopping Bill</option>
          <option value="Transport Charges"> Transport Charges</option>
          <option value="Others"> Others </option>
        </select></br><br>
                                                                       <!-- <input type="text" name="category" id="category" required/><br><br> -->
        <input class='btn' type="submit" value="Track Expense"/>
      </form><br>
    </div>
</div>
           <hr width="100%" size="5px" style="background-color: rgb(132, 203, 241)"/>                                                                      <!-- <ul id="listOfusers"></ul>      if u put here u cant delete the repeated user details..... u can delete first repeated user and then keep deleting user but repeated user cant delete details start remove from first repeated  -->
       
            <ul id="expense"></ul>
       
     </main>
            
     
     <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>

        <script>


            function savetoExpenseDetail(event){                           // function save data on the screeen
                event.preventDefault();                                   // to prevent a page from reloading or a new link from opening in jQuery, use the event.preventDefault() method..
               const expenses= document.getElementById("expenses").value;
               const description=document.getElementById("description").value;
               const category=document.getElementById("category").value;

        const detail={                                                            // store the users in the right format..
            expenses:expenses,
            description:description,
            category:category

                    }
                                                                   // axios libraraies 'post' for post data and save to database

                   axios.post("http://localhost:3000/add", detail)                                                    //i will do network call and save it over there.
                   .then((response)=>{
                    showNewUserScreen(response.data.newExpenseDetail)
                    console.log(response)
                   }) 
                   .catch((err)=>{
                    document.body.innerHTML= document.body.innerHTML + "<h4>Something went wrong in post</h4>"
                    console.log(err);
                   })

                                                                                                                      // showNewUserScreen(details)
                                                                                                                       //  localStorage.setItem(details.email,JSON.stringify( details))  //in console or local storage "json stringfy"
                };

                                                                                                                       // The DOMContentLoaded event fires when the initial HTML document has been completely loaded and parsed, without waiting for stylesheets, images, and subframes to finish loading.
            
                window.addEventListener("DOMContentLoaded",()=>{          // the domcontentloaded event fires when the initial html document has been completely loaded and parsed, without waiting for stylesheets, images,and subframes to finish loading..
                axios.get("http://localhost:3000/get-data")  
                       .then((response)=>{
                    console.log(response)
                 for(var i=0;i<response.data.allExpense.length;i++){
                    showNewUserScreen(response.data.allExpense[i]);                                                             //response.data nothing but object
                 }
             })

                .catch((err)=>{
                    document.body.innerHTML= document.body.innerHTML + "<h4>Something went wrong in reload</h4>"
                    console.log(err);

                   })
                                                                                                                                    //  console.log(data);              // i will get some data which is promise which is returning from promise
                })

               function showNewUserScreen(detail){                                   // function for show user data on the screen...
                document.getElementById('expenses').value='';
                document.getElementById('description').value='';
                document.getElementById('category').value='';

                //  if(allBooking.getItem(detail.email)!==null){
                //      removeUserFromScreen(detail.email);
                //  }
                const parentNode = document.getElementById('expense');
                const childHTML = `<li id=${detail.id}> ${detail.expenses} - ${detail.description} - ${detail.category}
                                        <button onclick=deleteUser('${detail.id}')> Delete User </button> 
                                        <button onclick=editUser('${detail.expenses}','${detail.description}','${detail.category},'${detail.id}')> Edit User </button>
                                     </li>`

                parentNode.innerHTML = parentNode.innerHTML + childHTML;
            }

            function editUser(expenses,description,category,userId){                    // function for editing the data in database..
                console.log(userId);
               
                document.getElementById('expenses').value=expenses;
                document.getElementById('description').value=description;
                document.getElementById('category').value=category;
                deleteUser(userId);

            }


            function deleteUser(userId){                                       // function for deleting the data in database..
            axios.delete(`http://localhost:3000/delete-data/${userId}`)
            .then((response)=>{
                
                removeUserFromScreen(userId);
            })
            .catch((err)=>{
                document.body.innerHTML= document.body.innerHTML + "<h4>Something went wrong in delete</h4>"
                    console.log(err);  
            })

            }

           

            function removeUserFromScreen(userId){
                const parentNode = document.getElementById('expense');
                const childNodeToBeDeleted = document.getElementById(userId);
                   
                if(childNodeToBeDeleted){
                parentNode.removeChild(childNodeToBeDeleted) }
            }



        </script>
    
</body>
</html>